<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Neutral Search</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class="container">
      <fieldset>
        <form action=<%= responseId %> method="post" id="form">
          <input name="search" type="text" class="ghost-input" placeholder="Enter your search term here" required>
          <input type="image" class="ghost-button" id="btn-submit" src="image/magnifier.png" value="Submit">
        </form>
      </fieldset>

      <% if(typeof searchTerms !== 'undefined' && typeof surveyMode === 'undefined') { %>
        <p class="message result">Original search term: <b><%= searchTerms[0] %></b></p>
        <p class="message result">Reverse search term: <b><%= searchTerms.slice(1).join(', ') %></b></p>
      <% } %>
      <% if(typeof searchResult !== 'undefined') { %>
        <% for(var i = 0; i < searchResult.length; i++) { %>
          <div class="result-entry result">
            <a class="result-title" href=<%= searchResult[i].link %> target="_blank">
              <%= searchResult[i].title %>
              <param name="result-origin" value=<%= searchResult[i].origin %> />
            </a>
            <p class="result-url"><%= searchResult[i].link %></p>
            <p class="result-snippet"><%= searchResult[i].snippet %></p>
          </div>
        <% } %>
      <% } %>
    </div>

    <p class="spacer"></p>
    <script src="jquery-3.3.1.min.js"></script>
    <script src="/client.js"></script> 
  </body>
</html>